@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@font-face {
  font-family: "Pixels";
  src: url("fonts/PixelGamer-Regular.otf");
}
:root {
  --fundo: #120327;
  --texto-secundario: #4c2190;

  --vermelho: #fa1e49;
  --verde: #22d91e;
  --laranja: #f9481e;
  --azul: #1077cb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--fundo);
  color: white;
}
main {
  min-width: 100%;
  flex: 1;
  display: flex;
}
.estiloMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.titulo {
  min-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo h1 {
  font-family: "Pixels", sans-serif;
  font-size: 2.3rem;
  color: white;
  text-shadow:
    3px 3px 1px var(--vermelho),
    4px 4px 4px var(--azul);
}
.Pqtexto {
  font-family: "Pixelify Sans", sans-serif;
}
.colorP {
  color: var(--vermelho);
}
.colorS {
  color: var(--azul);
}

#botoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.button {
  width: 90%;
  height: 60px;
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid var(--borda);
  box-shadow:
    0px 0px 5px var(--sombra),
    inset 0px 0px 5px var(--sombra);
  cursor: pointer;
  background-color: var(--cor);
  color: white;
  font-family: "Pixelify Sans", cursive;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button > p {
  width: 110px;
}
#bcomecar {
  --sombra: var(--vermelho);
  --cor: var(--vermelho);
}
#bsobre {
  --sombra: var(--azul);
  --borda: var(--azul);
  color: #1077cb;
}
footer {
  height: auto;
  text-align: center;
  color: var(--texto-secundario);
}

/* SOBRE */

.estiloSobre {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#voltar {
  border: 2px solid var(--azul);
  transform: scaleX(-1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--azul);
}
.sobret {
  font-family: "Pixelify Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow:
    3px 3px 1px var(--vermelho),
    4px 4px 4px var(--azul);
}

#listSobre {
  width: 100%;
  height: auto;
}
ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
li {
  padding: 10px;
  border: 1px solid var(--vermelho);
  border-radius: 5px;
  box-shadow:
    1px 1px 5px var(--vermelho),
    inset 1px 1px 5px var(--vermelho);
}
li h3 {
  font-family: Pixels;
  color: #1077cb;
}
#listSobre p {
  padding: 5px;
  font-size: 15px;
  font-family: Pixelify Sans;
}

/* Quiz */

.estiloQuiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.numero {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  border-radius: 50%;
  font-size: 2.5em;
  font-family: cursive;
}

.texto {
  min-width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #1077cb;
  font-size: 0.9em;
}
.opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pergunta {
  font-size: 1.2em;
  text-align: center;
  font-weight: 800;
}
.Pbutton {
  min-width: 310px;
  height: 60px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: white;
  padding: 10px;
}

/* FIM */

.estiloFim {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  justify-content: center;
}
.estiloFim h2 {
  font-size: 2.5em;
}
.textoFim {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttonFim {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Bfim {
  width: 100%;
  height: 50px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid black;
}

.desativado {
  display: none;
}
