@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

@font-face {
  font-family: "Pixels";
  src: url("fonts/PixelGamer-Regular.otf");
}
@font-face {
  font-family: "Perfect";
  src: url("fonts/Perfect\ DOS\ VGA\ 437.otf");
}

:root {
  --fundo: #120327;
  --texto-secundario: #4c2190;

  --vermelho: #fa1e49;
  --verde: #22d91e;
  --laranja: #f9481e;
  --azul: #1077cb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0px 20px;
  align-items: center;
  background-color: var(--fundo);
  color: white;
}
main {
  width: 100%;
  flex: 1;
  display: flex;
}
.estiloMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.titulo {
  min-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo h1 {
  font-family: "Pixels", sans-serif;
  font-size: 2.3rem;
  color: white;
  text-shadow:
    3px 3px 1px var(--vermelho),
    4px 4px 4px var(--azul);
}
.Pqtexto {
  font-family: "Pixelify Sans", sans-serif;
}
.colorP {
  color: var(--vermelho);
}
.colorS {
  color: var(--azul);
}

#botoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.button {
  width: 100%;
  height: 60px;
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid var(--borda);
  box-shadow:
    0px 0px 5px var(--sombra),
    inset 0px 0px 5px var(--sombra);
  cursor: pointer;
  background-color: var(--backCor);
  color: white;
  font-family: "Pixelify Sans", cursive;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button > p {
  width: 110px;
}
#bcomecar {
  --sombra: var(--vermelho);
  --backCor: var(--vermelho);
}
#bsobre {
  --sombra: var(--azul);
  --borda: var(--azul);
  color: #1077cb;
}
footer {
  height: auto;
  text-align: center;
  color: var(--texto-secundario);
  margin-bottom: 15px;
}

/* SOBRE */

.estiloSobre {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
#voltar {
  border: 2px solid var(--azul);
  transform: scaleX(-1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--azul);
}
.sobret {
  font-family: "Pixelify Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow:
    3px 3px 1px var(--vermelho),
    4px 4px 4px var(--azul);
}

#listSobre {
  width: 100%;
  height: auto;
}
ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
li {
  padding: 10px;
  border: 1px solid var(--vermelho);
  border-radius: 5px;
  box-shadow:
    1px 1px 5px var(--vermelho),
    inset 1px 1px 5px var(--vermelho);
}
li h3 {
  font-family: Pixels;
  color: var(--azul);
}
#listSobre p {
  padding: 5px;
  font-size: 15px;
  font-family: Pixelify Sans;
}

/* Quiz */

.estiloQuiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
}

.numero {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #de008d6c;
  border-radius: 50%;
  font-size: 2.5em;
  font-family: Oxanium;
  font-weight: bold;
}

.texto {
  min-width: 100%;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #de008d6c;
  font-size: 0.8em;
  font-family: "Oxanium", sans-serif;
  font-weight: 300;
}
.opcoes {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pergunta {
  font-size: 1.2em;
  text-align: center;
  font-weight: 800;
}
.Pbutton {
  min-width: 100%;
  height: 60px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--corButton);
  box-shadow: 0px 0px 2px var(--corButton);
  padding: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Pbutton:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 7px var(--corButton);
}

#B1cor {
  --corButton: var(--vermelho);
  background-color: #fa1e4a1c;
}
#B2cor {
  --corButton: var(--azul);
  background-color: #1077cb1c;
}
#B3cor {
  --corButton: var(--verde);
  background-color: #22d91e1c;
}
#B4cor {
  --corButton: var(--laranja);
  background-color: #f9481e1c;
}

/* FIM */

.estiloFim {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  justify-content: center;
}
.estiloFim h2 {
  font-size: 2.5em;
  font-family: Pixels;
  text-shadow:
    3px 3px 1px var(--vermelho),
    4px 4px 4px var(--azul);
}

.fimImagem{
  border: 1px solid #fa1e49;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px var(--vermelho), inset 0px 0px 5px var(--vermelho);
}
.textoFim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Pixelify sans;
}

.pontos{
  font-family: Perfect;
}
.barra{
  font-family: Pixelify sans;
  font-size: 2em;
}
#pontuacao{
  width: 100px;
  height: auto;
  border-radius: 20px;
  font-size: 1.6em;
  padding: 10px;
  color: var(--verde);
  letter-spacing: -1px;
}
#total{
  font-size: 1.6em;
}
#textoOfensivo{
  font-family: oxanium;
  font-weight: 600;
}
.buttonFim {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#Bresp{
  --sombra: var(--azul);
  --borda: var(--azul);
  color: #1077cb;
}
.seta{
  transform: scaleX(-1);
}

#Bvoltar{
  --sombra: #fa1e4a;
  --backCor: #fa1e4abb;
}

/* RESPOSTAS */

.resposta {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0px;
  gap: 20px;
}
.resposta h2 {
  font-size: 2.1em;
  font-family: Pixels;
  text-shadow:
    3px 3px 1px var(--vermelho),
    4px 4px 4px var(--azul);
}

.pontosFinais{
  margin-top: 10px;
  font-family: Oxinaum;
  font-size: 1.2em;
}
.cont-resp{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.quadro-resp{
  width: 90%;
  min-height: 150px;
  border: 1px solid var(--verde);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 5px var(--verde);
}
.linha{
  width: 100%;
  border: 1px dashed grey;
}
.resp-numero{
  font-family: Perfect;
  font-size: 2em;
}
.resp-questao{
  font-family: Oxanium;
  font-size: .8em;
  text-align: left;
  padding: 5px 0px;
}

.respostas{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: .8em;
  gap: 10px;
  margin-top: 10px;
  font-family: Oxanium;
}
.resp-escolhida{
  font-size: .9em;
  text-align: start;
  font-weight: 600;
}

.resp-certa{
  font-weight: 700;
}

#BRespvoltar{
  --sombra: #fa1e4a;
  --backCor: #fa1e4abb;
}
.desativado {
  display: none;
}
